.footer {
    padding: 50px 0 20px 0;
    text-align: center;

    &__nav {
        margin: 0 0 30px 0;
    }

    &__nav-item {
        margin: 0px 40px 0px 0px;
        font-size: 12px;
        color: black;
        text-decoration: none;

        :last-child {
            margin: 0px;
        }

        span {
            background: url('./img/logo.svg') 0 0 no-repeat;
            padding: 23px 0 0px 30px;
        }
    }

    &__logo {
        padding-right: 40px;
    }
}