.coffee-item {
    min-height: 100%;
    border-radius: 8px;
    padding: 22px;
    flex: 0 0 28%;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: column;
    background-color: white;

    &__image {
        margin-top: 10px;
        flex: 1 1 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__tittle {
        margin-top: 14px;
        text-align: center;
    }

    &__country {
        margin-top: 14px;
        text-align: end;
    }

    &__price {
        margin-top: 14px;
        text-align: end;
        font-weight: bold;
    }
}